.blueHeader {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 20px;
    font-size: 50px;

    text-align:center;
    padding: 20px;

    background: lightblue;
    background-size: auto;
}